# Always use LF line endings for these files
*.sh        text eol=lf
*.yaml      text eol=lf
*.yml       text eol=lf
*.json      text eol=lf
*.js        text eol=lf
*.md        text eol=lf
Dockerfile  text eol=lf
.env        text eol=lf

# Windows files can keep CRLF
*.bat       text eol=crlf
*.cmd       text eol=crlf
